<h2 mat-dialog-title>Log in
  <button mat-button class="mat-small" (click)="createAccount(username.value, password.value)">Create an Account</button>
</h2>
  <div mat-dialog-content>
      <p>
        <mat-form-field>
          <input type="text" matInput #username placeholder="Username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput #password placeholder="Password">
        </mat-form-field>
      </p>
      <p *ngIf="error" class="mat-small mat-error">
        {{ errorMessage }}
      </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="login(username.value, password.value)">Log in</button>
    <button mat-button mat-dialog-close="true">Close</button>
  </div>
