<mat-card-header class="loading" *ngIf="!loaded">
  <mat-card-title>
    Loading supply...
    <button mat-icon-button (click)="editMode = !editMode" aria-label="Toggle update">
      <mat-icon>update</mat-icon>
      <ng-container> Edit</ng-container>
    </button>
  </mat-card-title>
</mat-card-header>
<mat-card-content *ngIf="!loaded">
  <mat-chip-list>
    <mat-chip>
      <mat-chip-avatar><mat-spinner color="accent" [diameter]="25"></mat-spinner></mat-chip-avatar>
      Coffee
    </mat-chip>
    <mat-chip>
      <mat-chip-avatar><mat-spinner color="accent" [diameter]="25"></mat-spinner></mat-chip-avatar>
      Short Supply
    </mat-chip>
    <mat-chip>
      Checked: <mat-spinner color="accent" [diameter]="25"></mat-spinner>
    </mat-chip>
    <mat-chip>
      By: <mat-spinner color="accent" [diameter]="25"></mat-spinner>
    </mat-chip>
  </mat-chip-list>
</mat-card-content>

<mat-card-header *ngIf="loaded">
  <mat-card-title>
    {{supply.machine.name}}
    <button mat-icon-button (click)="editMode = !editMode" aria-label="Toggle edit">
      <mat-icon>update</mat-icon>
      <ng-container *ngIf="!editMode"> Edit</ng-container>
      <ng-container *ngIf="editMode"> Back</ng-container>
    </button>
  </mat-card-title>
</mat-card-header>

<mat-card-content *ngIf="loaded">
  <mat-chip-list multiple aria-label="Supply option" *ngIf="!editMode">
    <mat-chip [disabled]="!supply.coffee">
      <mat-chip-avatar>
        <mat-icon color="accent" *ngIf="supply.coffee">check_circle</mat-icon>
        <mat-icon color="warn" *ngIf="!supply.coffee">highlight_off</mat-icon>
      </mat-chip-avatar>
      Coffee
    </mat-chip>
    <mat-chip [disabled]="!supply.short_supply">
      <mat-chip-avatar>
        <mat-icon color="accent" *ngIf="supply.short_supply">check_circle</mat-icon>
        <mat-icon color="warn" *ngIf="!supply.short_supply">highlight_off</mat-icon>
      </mat-chip-avatar>
      Short Supply
    </mat-chip>
    <mat-chip>
      Checked: {{supply.time_checked | date:'shortDate'}}
    </mat-chip>
    <mat-chip>
      By: {{supply.checked_by}}
    </mat-chip>
  </mat-chip-list>

  <form *ngIf="editMode">
    <mat-slide-toggle formControlName="coffee" (toggleChange)="logToggle('coffee')" [checked]="supply.coffee">Coffee</mat-slide-toggle>
    <mat-slide-toggle class="ms-1rem" formControlName="short-supply" (toggleChange)="logToggle('shortSupply')" [checked]="supply.short_supply">Short Supply</mat-slide-toggle>
    <mat-form-field class="ms-1rem">
      <mat-label>Your Name</mat-label>
      <input matInput #supplyInput>
    </mat-form-field>
    <a mat-icon-button aria-label="Save button" (click)="submitChanges(supplyInput.value)">
      <mat-icon color="accent">done_outline</mat-icon>
    </a>
  </form>
</mat-card-content>
