<mat-card-header *ngIf="loaded">
  <mat-card-title>
    {{supply.machine.name}}
    <button mat-icon-button (click)="editMode = !editMode" aria-label="Toggle update">
      <mat-icon>update</mat-icon>
      <ng-container *ngIf="!editMode"> Edit</ng-container>
      <ng-container *ngIf="editMode"> Back</ng-container>
    </button>
  </mat-card-title>
</mat-card-header>

<mat-card-content *ngIf="loaded">
  <mat-chip-list multiple aria-label="Supply option" *ngIf="!editMode">
    <mat-chip [disabled]="supply.has_coffee ? false : true">
      <mat-chip-avatar>
        <mat-icon color="accent" *ngIf="supply.has_coffee">check_circle</mat-icon>
        <mat-icon color="warn" *ngIf="!supply.has_coffee">highlight_off</mat-icon>
      </mat-chip-avatar>
      Coffee
    </mat-chip>
    <mat-chip [disabled]="supply.has_short_supply ? false : true">
      <mat-chip-avatar>
        <mat-icon color="accent" *ngIf="supply.has_short_supply">check_circle</mat-icon>
        <mat-icon color="warn" *ngIf="!supply.has_short_supply">highlight_off</mat-icon>
      </mat-chip-avatar>
      Short Supply
    </mat-chip>
    <mat-chip>
      Last Checked: {{supply.time_checked | date:'shortDate'}}
    </mat-chip>
    <mat-chip>
      Last User: {{supply.user}}
    </mat-chip>
  </mat-chip-list>

  <form *ngIf="editMode">
    <mat-slide-toggle formControlName="coffee" (toggleChange)="logToggle('coffee')" [checked]="coffeeChecked">Coffee</mat-slide-toggle>
    <mat-slide-toggle formControlName="short-supply" (toggleChange)="logToggle('shortSupply')" [checked]="shortSupplyChecked">Short Supply</mat-slide-toggle>
    <mat-form-field>
      <mat-label>Your Name</mat-label>
      <input matInput required class="mx-sm" name="supplyInput" #supplyInput>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="submitChanges(supplyInput.value)">Save</button>
  </form>
</mat-card-content>
