<div class="background mat-typography app-frame basic-container">
<p><mat-toolbar style="justify-content: space-between" color="primary">
  <span>BCVM
    <button
      mat-icon-button
      onclick="location.reload()"
      aria-label="Toggle refresh">
    <mat-icon>refresh</mat-icon>
    </button>
  </span>
  <span>
    <button *ngIf="!global.loggedIn" mat-button class="button" routerLink="/login" aria-label="Log in">
      <span style="padding-right: 0.3rem">{{loginTitle}}</span>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="global.loggedIn" mat-button class="button" routerLink="/account/{{global.currentUser.username}}" aria-label="Account settings">
      <span style="padding-right: 0.3rem">{{loginTitle}}</span>
      <mat-icon>account_circle</mat-icon>
    </button>
  </span>
</mat-toolbar></p>

<router-outlet></router-outlet>

<footer>
  <p class="footer">
    © {{fullYear}} Zach Neill | This site is protected by reCAPTCHA
  </p>
</footer>
</div>
